body {
    text-align: center;
    background-color: rgb(22, 230, 15);
    background-image: url("background-image.jpg");

}
h1 {
    font-style: Sans serif;
    font-size: 70px;
    margin: 0.2em;
    color: green;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}